*{
  font-family: Oswald;
}

body {
    background-image: url("Media/Images/bodyBG.jpg");
}

.header{
    display: flex;
    justify-content: space-around;
    margin: 0;
    color: white;
    font-size: 2rem;
    font-style: italic;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 7rem;
    margin-top: -1rem;
}

.subhead h2{
  color: white;
  text-align: center;
  text-decoration: underline;
  font-weight: 400;
  text-wrap: wrap;
}

.subhead p{
  color: white;
  text-align: center;
  text-wrap: wrap;
}


.container{
    background-color: rgba(0, 0, 0, 0.6);
    width: 75%;
    border: rgba(255, 255, 255, 0.527) 2px solid;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
/*accordion starts*/
.accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 2.5rem;
    width: 98%;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin-top: .5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    border: .3rem solid rgba(27, 107, 212, 0.637);
    padding: 2.25rem;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: transparent;
    display: none;
    overflow: hidden;
  }

  #ancient{
    background-image: url(Media/Images/buttonBG/ancient.png);
    background-position: center;
    background-size: cover;
    color: rgb(218, 169, 65);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px ;
  }

  #anubis{
    background-image: url(Media/Images/buttonBG/anubids.png);
    background-position: center;
    background-size: cover;
    color: rgb(218, 169, 65);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px ;
  }

  #dust{
    background-image: url(Media/Images/buttonBG/dust.png);
    background-position: center;
    background-size: cover;
    color: rgb(218, 169, 65);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px ;
  }

  #inferno{
    background-image: url(Media/Images/buttonBG/inferno.png);
    background-position: center;
    background-size: cover;
    color: rgb(218, 169, 65);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px ;
  }

  #mirage{
    background-image: url(Media/Images/buttonBG/mirage.png);
    background-position: center;
    background-size: cover;
    color: rgb(218, 169, 65);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px ;
  }
  #nuke{
    background-image: url(Media/Images/buttonBG/nuke.png);
    background-position: center;
    background-size: cover;
    color: rgb(218, 169, 65);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px ;
  }
  #overpass{
    background-image: url(Media/Images/buttonBG/overpass.png);
    background-position: center;
    background-size: cover;
    color: rgb(218, 169, 65);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px ;
  }
  #vertigo{
    background-image: url(Media/Images/buttonBG/vertigo.png);
    background-position: center;
    background-size: cover;
    color: rgb(218, 169, 65);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px ;
    margin-bottom: .5rem;
  }

  .btnTitle{
    background: rgba(56, 55, 55, 0.7);
    width: 10rem;
  }

  .title{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
  }

  /*SLIDESHOW STARTS*/

  * {box-sizing: border-box}
.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}